<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/stylesheets/output.css" rel="stylesheet">
  <title>Document</title>
</head>
<body class="bg-black min-h-screen">
  <div class="min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8 px-6">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-10 w-auto" src="https://www.svgrepo.com/show/301692/login.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-2xl leading-9 font-bold text-teal-600">
            Welcome Back to VisualVibes!
        </h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-zinc-900 py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form action="/login" method="post">

                <div>
                    <label for="username" class="block text-sm font-medium leading-5 text-teal-600">Username</label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                        <input id="username" name="username" placeholder="username" type="text" required="" value="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    </div>
                </div>

                <div class="mt-6">
                    <label for="password" class="block text-sm font-medium leading-5 text-teal-600">Password</label>
                    <div class="mt-1 rounded-md shadow-sm">
                        <input id="password" name="password" placeholder="********" type="password" required="" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                    </div>
                </div>

                <div class="mt-6">
                    <span class="block w-full rounded-md shadow-sm">
                        <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-zinc-950 bg-teal-600 hover:bg-teal-600 focus:outline-none focus:border-teal-700 focus:shadow-outline-teal active:bg-teal-700 transition duration-150 ease-in-out">
                            LOGIN
                        </button>
                    </span>
                </div>

                <div class="mt-6">
                <% if(error.length > 0){ %>
                    <div id="alert-2" class="flex items-center p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Info</span>
                        <div class="ms-3 text-sm font-medium">
                         <%= error %>
                        </div>
                      </div>    
                <% }%>
                </div>

                <div class="mt-6 flex items-center justify-between">
                    <div class="text-sm leading-5 text-center">
                        <a href="#" class="font-medium text-teal-600 hover:text-teal-500 focus:outline-none underline transition ease-in-out duration-150">
                            Forgot password?
                        </a>
                    </div>
                </div>

                <div class="mt-6 flex items-center justify-between">
                    <div class="text-sm leading-5">
                        <a href="/" class="font-medium text-teal-500 hover:text-teal-500 focus:outline-none transition ease-in-out duration-150">
                            Not on VisualVibes? <span class="underline">SignUp</span>
                        </a>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>

  
</body>
</html>